/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #D4CCBA;
  color: #280D03;
}

/* GENERAL TYPOGRAPHY */

h1, h2, h3, h4 {
    font-family: 'Neuton', 'Georgia', serif;
  font-weight: 700;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-weight: 400;
  font-size: 1rem;
}

.header__title {
  font-family: 'Neuton', 'Georgia', serif;
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  font-family: 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 0.85rem;
}

@font-face {
  font-family: Pigeon;
  /* Credit to Dai Foldes / Lost Typeface Co-op */
  src: url(Pigeon.otf);
}

a {
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #280D03;
  text-decoration: none;
}

blockquote {
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 1.5rem;
  border-left: solid 4px #280D03; 
}

footer {
  font-family: 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 0.85rem;
}

.dropcap {
  font-family: 'PT Serif', 'Georgia', sans-serif;
  font-size: 2rem;
  display: inline;
}

/* HEADER */

.header__title .divider {
 margin-left: 1rem;
 margin-right: 1rem;
}

.header__info {
  display: inline-flex;
}

.header__info--issue {
  position: relative;
  left: 0;
  margin-left: 2rem;
}

.header__info--date {
  position: absolute;
  left: 43vw;
  text-transform: capitalize;
}

.header__info--price {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}

.second__divider {
  margin-top: 0.2rem;
}

/* DIVIDERS  */

.divider {
  border: #280D03 1px solid;
}

.divider--small {
  border: #280D03 1px solid;
  width: 33.33%;
}

/* GRID */

.grid {
  grid-template-columns: repeat(5 1fr);
  grid-template-areas: 
      "hd hd hd hd hd"
      "sd sd ma ma ma"
      "sd sd ma ma ma"
      "sd sd ft ft ft";
  width: 100%;
  height: 100vh;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  grid-template-areas: 
      "hd hd hd hd hd"
      "he he he vi vi"
      "he he he mn si"
      "he he he um si"
      "wd vi vi jb si"
      "wd vi vi jb si"
      "cp vi vi pi si"
      "ba ba bi bo bo"
      "ba ba st st sh"
      "ba ba mp mp cr"; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}

.header__title {
  grid-area: hd;
}

.column__first--heroes {
  grid-area: he;
}

.column__first--wedding {
  grid-area: wd;
}

.column__first--ad {
  grid-area: cp;
}

.column__first--221b {
  grid-area: ba;
}

.column__second--villains {
  grid-area: vi;
}

.column__third--birth {
  grid-area: bh;
}

.column__third--steerage {
  grid-area: st;
}

.column__third--makeup {
  grid-area: mp;
}

.column__four--violin {
  grid-area: vi;
}

.column__four--man {
  grid-area: mn;
}

.column__four--umbrella {
  grid-area: um;
}

.column__four--content {
  grid-area: ju;
}

.column__four--pipe {
  grid-area: pi;
}

.column__five--silver {
  grid-area: si;
}

.column__five--ad {
  grid-area: sh;
}

.column__five--credits {
  grid-area: cr;
}

/* WINE AD */

.wine-holder {
  display: inline;
}