/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
} */

body {
  background-color: #D4CCBA;
  color: #280D03;
}

/* GENERAL TYPOGRAPHY */

h1, h2, h3, h4 {
  font-family: 'Neuton', 'Georgia', serif;
  font-weight: 700;
}

h1 {
  font-size: 3.6rem;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: 4px;
  line-height: 30px;
  padding: 0 0 1rem 0;
}

h1:after {
  content: ”;
  display: inline-block;
  width: 100%;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  padding: 0.2rem 0 0 0;
  text-align: justify;
  text-align-last: justify;
}

h4:after {
    content: ”;
    display: inline-block;
    width: 100%;
}

p, footer, tbody {
  font-family: miller-text, 'Georgia', serif;
  font-style: normal;
  font-weight: 400;
}

p:first-child:first-letter {
  float: left;
  font-family: miller-text, 'Georgia', serif;
  font-size: 2rem;
  line-height: 30px;
  padding: 3px 3px 0 0;
}

figcaption {
  font-weight: 400;
  font-size: 0.9rem;
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  padding: 0.2rem 0 0.2rem 0;
  text-align: justify;
  text-align-last: justify;
}

figcaption:after {
  content: ”;
  display: inline-block;
  width: 100%;
}

.header__title {
  font-family: 'Neuton', 'Georgia', serif;
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  text-align: justify;
}

p, tbody {
  font-size: 0.9rem;
  padding-top: 0.2rem;
}

p + p {
  text-indent: 1rem;
}

@font-face {
  font-family: Pigeon;
  /* Credit to Dai Foldes / Lost Typeface Co-op */
  src: url(Pigeon.otf);
}

@font-face {
  font-family: Regitta;
  src: url(Regattia-Bold.otf);
}

a {
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 0.95rem;
  color: #280D03;
  text-decoration: underline rgba(40, 13, 3, 0.3);
}

a .finger__container{
  visibility: hidden;
}

a:hover .finger__container{
  visibility: visible;
  transition: ease-in-out 0.5s;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 1.5rem;
  border-left: solid 4px #280D03; 
  margin: 0.3rem 0 0.3rem 0;
  padding: 0 0 0 0.2rem;
}

footer {
  font-size: 0.85rem;
}

/* HEADER */

.header__title--image {
  display: flex;
  justify-content: center;
  align-content: center;
}

.title__container {
  height: 10rem;
  width: 35rem;
  background-color: #280D03;
  margin: 0.5rem 0 0.5rem 0;
}

.header__info {
  display: inline-flex;
}

.header__info--issue {
  position: relative;
  left: 0;
  margin-left: 2rem;
}

.header__info--date {
  position: absolute;
  left: 43vw;
  text-transform: capitalize;
}

.header__info--price {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}

.second__divider {
  margin-top: 0.2rem;
}

/* DIVIDERS  */

.divider {
  border: #280D03 1px solid;
}

.container__divider--small {
  display: flex;
  justify-content: center;
}

.divider--small {
  margin: 0.2rem 0 0 0;
  border: #280D03 1px solid;
  width: 33.33%;
}

/* GRID */

.grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
      "head head head head head"
      "hero hero hero viol viol"
      "hero hero hero mans silv"
      "hero hero hero jubi silv"
      "wedd vill vill jubi silv"
      "wedd vill vill jubi silv"
      "cham vill vill pipe silv"
      "bake bake ster ster birh"
      "bake bake ster ster shee"
      "bake bake make make shee"
      "bake bake make make cred"
      "foot foot foot foot foot"; 
  grid-gap: 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
}

.header__title {
  grid-area: head;
}

.column__heroes {
  grid-area: hero;
}

.column__wedding {
  grid-area: wedd;
}

.column__champagne {
  grid-area: cham;
}

.column__baker {
  grid-area: bake;
}

.column__villains {
  grid-area: vill;
}

.column__birth {
  grid-area: birh;
}

.column__steerage {
  grid-area: ster;
}

.column__makeup {
  grid-area: make;
}

.column__violin {
  grid-area: viol;
}

.column__man {
  grid-area: mans;
}

.column__jubilant {
  grid-area: jubi;
}

.column__pipe {
  grid-area: pipe;
}

.column__silver {
  grid-area: silv;
}

.column__sheep {
  grid-area: shee;
}

.column__credits {
  grid-area: cred;
}

.column__footer {
  grid-area: foot;
}

/* WINE AD */

.wine-holder {
  display: inline;
}

/* HEROES */

.heroes__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.heroes__grid--item {
  grid-column: 1/1;
}

.heroes__grid--image {
  grid-column: 2/4;
}

.heroes--img {
  height: 90%;
  max-width: 100%;
}

/* WEDDING */

.column__wedding h3 {
  text-align: justify;
  text-align-last: justify;
  font-size: 1.2rem;
  letter-spacing: 9px;
  line-height: 10px;
  padding: 0 0 0.3rem 0;
}

/* CHAMPAGNE */

.column__champagne h3 {
  text-align: justify;
  text-align-last: justify;
  font-size: 1.2rem;
  letter-spacing: 3px;
  line-height: 21px;
  padding: 0 0 0.1rem 0;
}

.champ__holder--text {
  clear: both;
}

.champ__holder--img {
  float: left;
  height: 90%;
}

/* VILLAINS */

.column__villains h1 {
    font-size: 3.3rem;
    text-align: justify;
    text-align-last: justify;
    letter-spacing: 4px;
    line-height: 30px;
    padding: 0 0 1rem 0;
  }
  
.column__villains h1:after {
    content: ”;
    display: inline-block;
    width: 100%;
}

.villains__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem;
}

.villains--mor {
  grid-column: 1/1;
}

.villains--irene {
  grid-column: 2/2;
}

.container__img--villain {
  float: right;
  padding: 0.4rem 0.2rem 0.2rem 0.2rem;
  width: 7rem;
  height: 7rem;
}

.container__content--villain {
  clear: left;
}

.villain-img {
  width: 100%;
  height: 100%;
}

/* VIOLIN */

.violin--ad {
  width: 100%;
  height: 95%;
  border: #280D03 solid 2px;
}

/* BAKER STREET */

.baker__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.baker--img {
  border: #280D03 solid 2px;
}

.baker-street-img {
  width: 100%;
}

.column__baker h1 {
  letter-spacing: 1px;
  line-height: 40px;
  font-size: 2.7rem;
  padding: 0 0 0.3rem 0;
}

a.museum .finger__container{
  visibility: hidden;
}

a.museum:hover .finger__container{
  visibility: visible;
  transition: ease-in-out 0.5s;
}

a.museum:hover {
  text-decoration: underline;
}

/* MAN */

.column__man h3 {
  text-align: justify;
  text-align-last: justify;
  font-size: 1.2rem;
  line-height: 8px;
  padding: 0 0 0.4rem 0;
}

.column__man p {
  font-family: 'Pigeon', 'PT Serif', 'Georgia', serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0 0.2rem 0;
}

/* JUBILANT */

.column__jubilant h3 {
  text-align: justify;
  text-align-last: justify;
  font-size: 1.2rem;
  letter-spacing: 2.3px;
}

/* SILVER */

.column__silver h3 {
  font-size: 1.2rem;
  letter-spacing: 0.2px;
  line-height: 8px;
  padding: 0 0 0.4rem 0;
  text-align: justify;
  text-align-last: justify;
}

.finger__svg {
  max-height: 0.9rem;
  padding: 0 0 0 0.2rem;
}

a.silverscreen .finger__container{
  visibility: hidden;
}

a.silverscreen:hover .finger__container{
  visibility: visible;
  transition: ease-in-out 0.5s;
}

a.silverscreen:hover {
  text-decoration: underline;
}

/* PIPE AND SHEEP*/

.column__pipe, .column__sheep {
  border: #280D03 solid 2px;
  padding: 0.2rem;
}

/* BIRTH */

.column__birth h3 {
  letter-spacing: 4px;
  line-height: 8px;
  padding: 0 0 0.4rem 0;
  text-align: justify;
  text-align-last: justify;
}

.column__birth {
  text-align: justify;
}

/* STEERAGE */

.column__steerage {
  text-align: justify;
}

table {
  width: 100%;
  height: auto;
}

/* MAKEUP */

.column__makeup h2 {
  font-size: 2rem;
  text-align: justify;
  text-align-last: justify;
  margin-top: -1.5rem;
}

.makeup--img {
  width: 100%;
  padding: 0.3rem 0 0.3rem 0;
}

.price__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price__container--item figcaption{
  text-align: center;
  text-align-last: center;
}

/* CREDITS */

.column__credits h3 {
  letter-spacing: 1px;
  line-height: 8px;
  padding: 0 0 0.4rem 0;
  text-align: justify;
  text-align-last: justify;
}

/* FOOTER */

footer {
  padding: 0 0 0.5rem 0;
}

.footer__container {
  padding: 0.3rem 0 0 0;
}
.footer__container a:hover {
  text-decoration: underline;
}

.copyright {
  position: sticky;
  float: left;
}

.typography-copyright {
  position: sticky;
  float: right;
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "head"
        "head"
        "hero"
        "hero"
        "hero"
        "hero"
        "viol"
        "viol"
        "mans"
        "silv"
        "silv"
        "silv"
        "silv"
        "wedd"
        "wedd"
        "wedd"
        "vill"
        "vill"
        "vill"
        "vill"
        "vill"
        "vill"
        "vill"
        "pipe"
        "bake"
        "bake"
        "bake"
        "bake"
        "jubi"
        "jubi"
        "jubi"
        "birh"
        "ster"
        "ster"
        "ster"
        "book"
        "book"
        "cham"
        "cham"
        "make"
        "make"
        "make"
        "shee"
        "cred"
        "foot";
    grid-gap: 0.5rem;
  }
}